# Twitter Sentiment Investing Strategy

### **1. Load Twitter Sentiment Data**

* Load the twitter sentiment dataset, set the index, calculat engagement ratio and filter out stocks with no significant twitter activity.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import yfinance as yf
import os
plt.style.use('ggplot')

sentiment_df = pd.read_csv('sentiment_data.csv')

sentiment_df['date'] = pd.to_datetime(sentiment_df['date'])

sentiment_df = sentiment_df.set_index(['date', 'symbol'])

sentiment_df['engagement_ratio'] = sentiment_df['twitterComments'] / \
    sentiment_df['twitterLikes']

sentiment_df = sentiment_df[(sentiment_df['twitterLikes'] > 20) & (
    sentiment_df['twitterComments'] > 10)]

sentiment_df

                   twitterPosts  twitterComments  twitterLikes  \
date       symbol
2021-11-18 AAPL           811.0           2592.0       21674.0
           AMD            150.0            675.0        2949.0
           AMZN           557.0           1315.0       12969.0
           ATVI            82.0             36.0         131.0
           BA              61.0             55.0         342.0
...                         ...              ...           ...
2023-01-04 T              184.0           3409.0       14271.0
           TSLA          6767.0         540711.0     3810688.0
           TSN             35.0            168.0         460.0
           V              132.0           1008.0        5943.0
           XOM            212.0            374.0        2071.0

                   twitterImpressions  twitterSentiment  engagement_ratio
date       symbol
2021-11-18 AAPL             7981808.0               NaN          0.119590
           AMD              1645270.0               NaN          0.228891
           AMZN             5590695.0               NaN          0.101396
           ATVI             1310715.0               NaN          0.274809
           BA                425847.0               NaN          0.160819
...                               ...               ...               ...
2023-01-04 T                 884935.0          0.590457          0.238876
           TSLA            55464921.0          0.543057          0.141893
           TSN                57207.0          0.561900          0.365217
           V                 139835.0          0.567286          0.169611
           XOM               483389.0          0.588914          0.180589

[25375 rows x 6 columns]

### **2. Aggregate Monthly and calculate average sentiment for the month**

* Aggregate on a monthly level and calculate average monthly metric, for the one we choose.

In [ ]:
aggragated_df = (sentiment_df.reset_index('symbol').groupby([pd.Grouper(freq='M'), 'symbol'])
                 [['engagement_ratio']].mean())

aggragated_df['rank'] = (aggragated_df.groupby(level=0)['engagement_ratio']
                         .transform(lambda x: x.rank(ascending=False)))

aggragated_df

C:\Users\Lenovo ThinkPad T440\AppData\Local\Temp\ipykernel_14652\1357384149.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  aggragated_df = (sentiment_df.reset_index('symbol').groupby([pd.Grouper(freq='M'), 'symbol'])

                   engagement_ratio  rank
date       symbol
2021-11-30 AAL             0.203835  37.0
           AAPL            0.256318  23.0
           ABBV            0.244677  26.0
           ABT             0.313368  14.0
           AES             0.864613   2.0
...                             ...   ...
2023-01-31 TMO             0.333313  19.0
           TSLA            0.151992  72.0
           TSN             0.280553  30.0
           V               0.194045  60.0
           XOM             0.217904  53.0

[1109 rows x 2 columns]

### **3. Select Top 5 Stocks based on their cross-sectional ranking for each month**

* Select top 5 stocks by rank for each month and fix the date to start at beginning of next month.

In [ ]:
filtered_df = aggragated_df[aggragated_df['rank'] < 6].copy()

filtered_df = filtered_df.reset_index(level=1)

filtered_df.index = filtered_df.index+pd.DateOffset(1)

filtered_df = filtered_df.reset_index().set_index(['date', 'symbol'])

filtered_df.head(20)

                   engagement_ratio  rank
date       symbol
2021-12-01 AES             0.864613   2.0
           FCX             0.626323   5.0
           MNST            0.699721   3.0
           OXY             2.147741   1.0
           SLB             0.647374   4.0
2022-01-01 D               0.801994   5.0
           FCX             0.841220   4.0
           L               6.507246   1.0
           LUV             1.303215   2.0
           MA              0.883401   3.0
2022-02-01 AMD             0.715556   4.0
           D               1.136678   1.0
           FCX             0.655237   5.0
           LUV             1.035258   2.0
           MA              0.729063   3.0
2022-03-01 FCX             1.138332   2.0
           GILD            0.530886   5.0
           LUV             1.574377   1.0
           MRO             0.581748   4.0
           OXY             1.025579   3.0

### **4. Extract the stocks to form portfolios with at the start of each new month**

* Create a dictionary containing start of month and corresponded selected stocks.

In [ ]:
dates = filtered_df.index.get_level_values('date').unique().tolist()

fixed_dates = {}

for d in dates:

    fixed_dates[d.strftime('%Y-%m-%d')] = filtered_df.xs(d,
                                                         level=0).index.tolist()

fixed_dates

{'2021-12-01': ['AES', 'FCX', 'MNST', 'OXY', 'SLB'],
 '2022-01-01': ['D', 'FCX', 'L', 'LUV', 'MA'],
 '2022-02-01': ['AMD', 'D', 'FCX', 'LUV', 'MA'],
 '2022-03-01': ['FCX', 'GILD', 'LUV', 'MRO', 'OXY'],
 '2022-04-01': ['A', 'CRM', 'PFE', 'PM', 'STZ'],
 '2022-05-01': ['AMD', 'CRM', 'CVX', 'J', 'KEY'],
 '2022-06-01': ['AMD', 'DD', 'FCX', 'KEY', 'LMT'],
 '2022-07-01': ['CB', 'CRM', 'DD', 'FCX', 'STZ'],
 '2022-08-01': ['A', 'DD', 'JPM', 'REGN', 'STZ'],
 '2022-09-01': ['ABT', 'DIS', 'L', 'META', 'MRNA'],
 '2022-10-01': ['J', 'KEY', 'L', 'META', 'MU'],
 '2022-11-01': ['A', 'DD', 'FCX', 'J', 'META'],
 '2022-12-01': ['AEP', 'AES', 'DD', 'J', 'STZ'],
 '2023-01-01': ['A', 'AES', 'DAL', 'J', 'KEY'],
 '2023-02-01': ['A', 'AES', 'BIIB', 'FCX', 'MDT']}

### **5. Download fresh stock prices for only selected/shortlisted stocks**

In [6]:
stocks_list = sentiment_df.index.get_level_values('symbol').unique().tolist()

prices_df = yf.download(tickers=stocks_list,
                        start='2021-01-01',
                        end='2023-03-01')

Failed to get ticker 'NKE' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'PEP' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'CVX' reason: Expecting value: line 1 column 1 (char 0)
[*                      2%                       ]  2 of 85 completedFailed to get ticker 'KO' reason: Expecting value: line 1 column 1 (char 0)
[**                     5%                       ]  4 of 85 completedFailed to get ticker 'XOM' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'NCLH' reason: Expecting value: line 1 column 1 (char 0)
[***                    7%                       ]  6 of 85 completedFailed to get ticker 'EBAY' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'K' reason: Expecting value: line 1 column 1 (char 0)
[****                   8%                       ]  7 of 85 completedFailed to get ticker 'GS' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'SLB' reason: Expecting value: line 1 column 1 (char 0)
[******                12%                       ]  10 of 85 completedFailed to get ticker 'INTC' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'BMY' reason: Expecting value: line 1 column 1 (char 0)
[*******               14%                       ]  12 of 85 completedFailed to get ticker 'DIS' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'NFLX' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'DAL' reason: Expecting value: line 1 column 1 (char 0)
[*******               15%                       ]  13 of 85 completedFailed to get ticker 'PYPL' reason: Expecting value: line 1 column 1 (char 0)
[*********             19%                       ]  16 of 85 completedFailed to get ticker 'TSN' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'MRNA' reason: Expecting value: line 1 column 1 (char 0)
[**********            20%                       ]  17 of 85 completedFailed to get ticker 'JPM' reason: Expecting value: line 1 column 1 (char 0)
[************          24%                       ]  20 of 85 completedFailed to get ticker 'DLTR' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'MDT' reason: Expecting value: line 1 column 1 (char 0)
[************          25%                       ]  21 of 85 completedFailed to get ticker 'L' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'MPC' reason: Expecting value: line 1 column 1 (char 0)
[*************         27%                       ]  23 of 85 completedFailed to get ticker 'A' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'LMT' reason: Expecting value: line 1 column 1 (char 0)
[**************        29%                       ]  25 of 85 completedFailed to get ticker 'MA' reason: Expecting value: line 1 column 1 (char 0)
[***************       31%                       ]  26 of 85 completedFailed to get ticker 'ALB' reason: Expecting value: line 1 column 1 (char 0)
[****************      33%                       ]  28 of 85 completedFailed to get ticker 'STZ' reason: Expecting value: line 1 column 1 (char 0)
[****************      34%                       ]  29 of 85 completedFailed to get ticker 'MRO' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'NVDA' reason: Expecting value: line 1 column 1 (char 0)
[*****************     35%                       ]  30 of 85 completedFailed to get ticker 'BIIB' reason: Expecting value: line 1 column 1 (char 0)
[******************    38%                       ]  32 of 85 completedFailed to get ticker 'KEY' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'ATVI' reason: Expecting value: line 1 column 1 (char 0)
[*******************   39%                       ]  33 of 85 completedFailed to get ticker 'PM' reason: Expecting value: line 1 column 1 (char 0)
[*******************   39%                       ]  33 of 85 completedFailed to get ticker 'V' reason: Expecting value: line 1 column 1 (char 0)
[********************  42%                       ]  36 of 85 completedFailed to get ticker 'AAL' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'MO' reason: Expecting value: line 1 column 1 (char 0)
[********************* 44%                       ]  37 of 85 completedFailed to get ticker 'DVN' reason: Expecting value: line 1 column 1 (char 0)
[**********************45%                       ]  38 of 85 completedFailed to get ticker 'GILD' reason: Expecting value: line 1 column 1 (char 0)
[**********************47%                       ]  40 of 85 completedFailed to get ticker 'PG' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'F' reason: Expecting value: line 1 column 1 (char 0)
[**********************48%                       ]  41 of 85 completedFailed to get ticker 'BKR' reason: Expecting value: line 1 column 1 (char 0)
[**********************48%                       ]  41 of 85 completedFailed to get ticker 'D' reason: Expecting value: line 1 column 1 (char 0)
[**********************51%                       ]  43 of 85 completedFailed to get ticker 'DD' reason: Expecting value: line 1 column 1 (char 0)
[**********************54%*                      ]  46 of 85 completedFailed to get ticker 'CB' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'BA' reason: Expecting value: line 1 column 1 (char 0)
[**********************56%**                     ]  48 of 85 completedFailed to get ticker 'CCL' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'OXY' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'AES' reason: Expecting value: line 1 column 1 (char 0)
[**********************58%***                    ]  49 of 85 completedFailed to get ticker 'PFE' reason: Expecting value: line 1 column 1 (char 0)
[**********************61%****                   ]  52 of 85 completedFailed to get ticker 'NUE' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'RCL' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'T' reason: Expecting value: line 1 column 1 (char 0)
[**********************62%*****                  ]  53 of 85 completedFailed to get ticker 'HON' reason: Expecting value: line 1 column 1 (char 0)
[**********************66%*******                ]  56 of 85 completedFailed to get ticker 'EA' reason: Expecting value: line 1 column 1 (char 0)
[**********************67%*******                ]  57 of 85 completedFailed to get ticker 'J' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'JNJ' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'CMG' reason: Expecting value: line 1 column 1 (char 0)
[**********************69%********               ]  59 of 85 completedFailed to get ticker 'REGN' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'ES' reason: Expecting value: line 1 column 1 (char 0)
[**********************72%**********             ]  61 of 85 completedFailed to get ticker 'AAP' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'HBAN' reason: Expecting value: line 1 column 1 (char 0)
[**********************75%***********            ]  64 of 85 completedFailed to get ticker 'MU' reason: Expecting value: line 1 column 1 (char 0)
[**********************76%***********            ]  65 of 85 completedFailed to get ticker 'TMO' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'TSLA' reason: Expecting value: line 1 column 1 (char 0)
[**********************80%*************          ]  68 of 85 completedFailed to get ticker 'LUV' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'EL' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'CRM' reason: Expecting value: line 1 column 1 (char 0)
[**********************82%**************         ]  70 of 85 completedFailed to get ticker 'FCX' reason: Expecting value: line 1 column 1 (char 0)
[**********************85%****************       ]  72 of 85 completedFailed to get ticker 'ABBV' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'C' reason: Expecting value: line 1 column 1 (char 0)
[**********************87%*****************      ]  74 of 85 completedFailed to get ticker 'DG' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'MNST' reason: Expecting value: line 1 column 1 (char 0)
[**********************88%*****************      ]  75 of 85 completedFailed to get ticker 'AEP' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'ILMN' reason: Expecting value: line 1 column 1 (char 0)
[**********************92%*******************    ]  78 of 85 completedFailed to get ticker 'META' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'ABT' reason: Expecting value: line 1 column 1 (char 0)
[**********************94%********************   ]  80 of 85 completedFailed to get ticker 'AVGO' reason: Expecting value: line 1 column 1 (char 0)
Failed to get ticker 'ENPH' reason: Expecting value: line 1 column 1 (char 0)
[**********************95%*********************  ]  81 of 85 completedFailed to get ticker 'AMD' reason: Expecting value: line 1 column 1 (char 0)
[*********************100%***********************]  84 of 85 completed

85 Failed downloads:
['NKE', 'PEP', 'CVX', 'KO', 'XOM', 'NCLH', 'EBAY', 'K', 'GS', 'SLB', 'INTC', 'BMY', 'DIS', 'NFLX', 'DAL', 'PYPL', 'TSN', 'MRNA', 'JPM', 'DLTR', 'MDT', 'L', 'MPC', 'A', 'LMT', 'MA', 'ALB', 'STZ', 'MRO', 'NVDA', 'BIIB', 'KEY', 'ATVI', 'PM', 'V', 'AAL', 'MO', 'DVN', 'GILD', 'PG', 'BKR', 'D', 'DD', 'CB', 'BA', 'CCL', 'OXY', 'AES', 'PFE', 'NUE', 'RCL', 'HON', 'EA', 'J', 'JNJ', 'CMG', 'REGN', 'ES', 'AAP', 'HBAN', 'MU', 'TMO', 'TSLA', 'LUV', 'EL', 'CRM', 'FCX', 'ABBV', 'C', 'DG', 'MNST', 'AEP', 'ILMN', 'META', 'ABT', 'AVGO', 'ENPH', 'AMD']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')
['GOOG', 'AAPL', 'MSFT', 'AMZN', 'GOOGL']: JSONDecodeError('Expecting value: line 1 column 1 (char 0)')
['F']: Y%ticker%TzMissingError('$%ticker%: possibly delisted; no timezone found')
['T']: YF%ticker%zMissingError('$%ticker%: possibly delisted; no timezone found')